<div class="ui fluid vertical pointing menu">
    <a href="{% url 'professionals:profile' request.user.professional.slug %}" class="active item">
        Home
    </a>
    <a href="{% url 'work-history:list' request.user.professional.slug %}" class="item">
        Work History
    </a>
    <a class="item">
        Education History
    </a>
    <a class="item">
        References
    </a>
    <a class="item">
        Documents
    </a>
    <a class="item">
        Messages
    </a>
    <a class="item">
        Friends
    </a>
</div>