<div class="ui longer modal">
  <div class="header">Post</div>
  <div class="scrolling content">
    <form id="post-form" class="ui large container form" method="POST" action="{{ topic.new_post_url }}">
        {% csrf_token %}
        <div class="field">
            <label for="content">Content:</label>
            <textarea id="content" name="content"></textarea>
        </div>
        
        <div class="ui divider"></div>
        <button class="ui teal button" type="submit">Submit</button>
    </form>
  </div>
</div>